.article{
    margin-bottom: 44px;
}

.article:last-of-type {
    margin-top: 44px;
    margin-bottom: 30px;
}

.article-header { 
    font-family: Pathway Gothic One, sans-serif;
    font-size: 25px;
    font-weight: normal;
}

.article-subheader {
    margin-top: 22px;
    line-height: 1.4;
}

.article-text{
    margin-top: 12px;
    line-height: 1.4;
    word-spacing: 0.1em;
}

.article-profile-image {
    height: 97px;
    margin-top: 28px;
    background-image: url(../img/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}