footer {
    margin: 30px 10px 0 20px;
}

.footer-list {
    display: inline-block;
    line-height: 2.2em;
    list-style: none;
    vertical-align: top;
}

.footer-list:first-child {
    margin-right: 40px;
}

.footer-list a {
    text-decoration: none;
    color: navy;
}

