footer {
    font-size: 15px;
}

.footer-list {
    display: inline-block;
    width: 270px;
    line-height: 2.2;
    list-style: none;
    vertical-align: top;
}

.footer-list-item {
    height: 39px;
}

.footer-list-item::before {
    content: '\2192';
    display: inline-block;
    margin-top: -2px;
    margin-right: 14px;
    margin-left: -2px;
    color: #38afe5;
    vertical-align: top;
    transform: scale(0.7, 1.4);
}