.offer-header {
    margin-bottom: 58px;
    font-family: Pathway Gothic One, sans-serif;
    font-size: 32px;
    font-weight: normal;
}

.offer-description {
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
}